<header>
    <div class="container">
        <div  style="height: ;7%" class="header d-flex mt-4 justify-content-between  " >
            <img src="../images/logo3.jpg" style="width: 10%; height: 10%" alt="Livestock">
            <ul class="d-flex ">
                
                <li><a href="/" class="btn" >Home</a> </li>
                <li><a href="/about-us" class="btn" > About Us </a> </li>
                <li><a href="/contact-us" class="btn" >Contact</a> </li>
               <li><a href="/instructions" class="btn">Instructions</a> </li>
               
            </ul>
    </div>
    </div>
</header>
<div class="container mt-4">
    <div class="" style="margin-top: 3%;">
        {{!-- <img style="width: 20%;" src="../images/trackerImplemented.jpg" alt="uMalusi"> --}}
        <div style="margin-left: 0%;">
            <h1 class="text-center text-light">Who is uMalusi</h1>
            <p class="text-light " style="font-size:large">
                uMalusi, surprisingly, was originally founded with the intent to address environmental sustainability in South Africa. 
                We have recognized that small-scale farmers do not  have access to commercial tools and devices and rural economic development is not exclusive of one another and that is why we came up with a tracking device to help small-scale farmers keep track and to trace their livestock remotely. 
                We are a unique team made up of mixed gender individuals of color with different cultural and educational backgrounds but very similar socio-economic backgrounds and this makes us a very diverse but closely knitted team that can empathize with the needs of our users
            </p>

        </div>
    </div>
    <div class=" text-light">
        <h1 class="text-center">Our mission</h1>
    
        <p class="" style="font-size:large">To improve the outdated techniques used to locate livestock using technology while ensuring that there is better management of our natural resources.
Empower small-scale farmers with the tools and devices for sustainable cattle farming, market access for economic prosperity and food security that enable farmer-driven restoration of Africa’s rangeland ecosystems.</p>
    </div>
</div>