<div class="">
    <header>
        <div class="container">
            <div style="height: ;7%" class="header d-flex mt-4 justify-content-between ">
                <img src="../images/logo3.jpg" style="width: 10%; height: 10%" alt="Livestock">
                <ul class="d-flex tabs">

                    <li><a href="/" class="btn">Home</a> </li>
                    <li><a href="/about-us" class="btn"> About Us </a> </li>
                    <li><a href="/contact-us" class="btn">Contact</a> </li>
                    <li><a href="/instructions" class="btn">Instructions</a> </li>


                </ul>
            </div>
        </div>
    </header>
    <div class="container ">
        <div class="" style="margin-top: 50px;">
            <H4 class="text-center text-light">Welcome to uMalusi</H4>
            <h1 class="text-light">Empowering Substainable Farming & Tracking of Livestock for Small-scale Farmers.</h1>
        </div>
        <div class="text-center mt-4">
            <a class="btn mt-4" style="background-color:  rgba(50, 158, 50, 0.753);;" href="/about-us">READ MORE</a>
        </div>
    </div>
</div>