<header>
    <div class="container">
        <div  style="height: ;7%" class="header d-flex mt-4 justify-content-between  " >
            <img src="../images/logo3.jpg" style="width: 10%; height: 10%" alt="Livestock">
            <ul class="d-flex ">
                
                <li><a href="/" class="btn" >Home</a> </li>
                <li><a href="/about-us" class="btn" > About Us </a> </li>
                <li><a href="/contact-us" class="btn" >Contact</a> </li>
               <li><a href="/instructions" class="btn">Instructions</a> </li>
               
            </ul>
    </div>
    </div>
</header>
<div class="container text-light">
    <h1 class="" style="margin-top: 10%;">Instructions</h1>
    <p>
        <h5>Basic Overview</h5>
        <li>Go to uMalusi Home Page</li>
        <li>Select the “Buy Device” button to buy the actual tracking device.</li>
        <li>You will receive the device after making payment arrangements.</li>
        <li>Use the “My Herd” button to register livestock. The “My Herd” button will also allow you to add, delete or update existing livestock.</li>
        <li>Livestock properties can also be added such as images to represent the cattle data.</li>
        <li>The “My Farm” button will allow the user to set up the geofence for location purposes.</li>
        <li>The “Alert” button manages alert settings so that the user can receive notifications about any abnormalities that livestock may come across.</li>
    </p>
</div>